@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ansungtangmyun-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing:border-box;
    margin:0;
}
header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 91, 37);
    border-radius: 0px 0px 30px 30px;
    display: flex;
    justify-content: space-between;
    font-family: "EF_jejudoldam";
    font-size: 60px;
}
#h-container{
    margin: 10px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    height: 5000px;
}

input[id='icon'] {display: none;}
input[id='icon']+label {
    display: block;
    margin: 30px;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    top:5px;
}
input[id='icon']+label span{
    display: block;
    width: 100%;
    height:5px;
    margin-bottom: 10px;
    border-radius: 30px;
    background: #000;
    cursor: pointer;
}
input[id='icon']:checked + label{z-index: 2;}
input[id='icon']:checked+label span{
    background: #fff;
}
div[class='menu-container']{
    position: fixed;
    width: 400px;
    height: 100vh;
    background: rgb(255, 236, 192);
    top: 0px;
    right: -400px;
    z-index: 1;
    transition: all 0.35s;
    font-size: 40px;
}
div[class='menu-container'] ul{
    margin: 80px 30px 30px 30px;
}
input[id='icon']:checked + label + div{
    right:0;
}
main{
    top:100px;
    height:1000px;
    padding-top: 130px;
    margin:0 auto;
    background-color: rgb(255, 244, 240);
    display: flex;
    flex-direction: row;
    font-family: "EF_jejudoldam";
}
nav{
    position: fixed;
    width:230px;
    height:300px;
    background-color: rgb(196, 168, 133);
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-container{
    width:85%;
    height: 15%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: rgb(113, 68, 46);
    color: white;
}
#nav-title{
    background-color: rgb(196, 168, 133);            
    color: rgb(81, 17, 17);
}
.nav-container:hover{
    background-color: rgb(255, 236, 178);
    color: rgb(23, 169, 0);
}
#content{
    width:97%;
    height:500px;
    background-color: rgb(255, 244, 240);  
    padding-left: 250px;
    margin-left: 20px;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:10px;
}
@media only screen and (max-width:1600px){
    #content{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width:1200px) {
    #content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width:1000px) {
    #content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:900px) {
    #content {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width:800px) {
    #content {
        grid-template-columns: 1fr;
    }
}
section{
    background-color: rgb(255, 228, 171);
    height:300px;
    /* border: 1px solid #333; */
    /* margin:12px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin:10px;
    color: rgb(138, 81, 0);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: relative;
    top:0;
    transition: all .1s ease-in;
}
section:hover{
    top:-5px;
    cursor: pointer;
}
.img-container{
    width:70%;
    height:60%;
    margin:10px;
}
#dak{
    background-image: url(./images/dakbal.jpeg);
    background-size: cover;
}
#bang {
    background-image: url(./images/banga.jpg);
    background-size: cover;
}
#soon {
    background-image: url(./images/soondae.jpg);
    background-size: cover;
}
#gop {
    background-image: url(./images/gopchang.jpg);
    background-size: cover;
}
#sam {
    background-image: url(./images/samgyeop.jpg);
    background-size: cover;
}
#cheo {
    background-image: url(./images/cheo.jpg);
    background-size: cover;
}
#cham {
    background-image: url(./images/cham.jpeg);
    background-size: cover;
}
.card-title{
    font-size: 20px;
    padding: 3px;
}

.tag-container{
    display: flex;
    flex-direction: row;
}
.card-tag {
    height: 20px;
    font-size: 13px;
    padding-bottom: 5px;
    color: rgb(90, 89, 89);
    overflow:hidden;
    word-break: keep-all;
}
.card-heart {
    font-size: 10px;
}
.card-heart :hover{
    font-size: 10px;
    color: rgb(0, 204, 37);
    cursor: pointer;
}